<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Ray Image Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>X-Ray Image Classification</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <label for="image">Upload Image File:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>
        {% if prediction %}
            <h2>Prediction: {{ prediction }}</h2>
            <img src="{{ image_path }}" alt="X-Ray Image">
        {% endif %}
    </div>
</body>
</html>
